body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://wallpapercave.com/wp/wp1822726.jpg");
  font-size: 18px;
  max-width: 2000px;
  max-height: 2000px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  content:url(https://vignette.wikia.nocookie.net/rickandmorty/images/1/19/Pickle_rick_transparent.png/revision/latest?cb=20171025014216);
  max-height: 125px;
  max-width: 125px;
  position:absolute;
}
.meeseeks{
  content:url(https://i.pinimg.com/originals/a4/ee/b6/a4eeb6c4d12bdf04115e8db1bebb5395.png);
  max-height: 150px;
  max-width: 150px;
  position:absolute;
}
.birdPerson{
  content:url(https://vignette.wikia.nocookie.net/rickandmorty/images/9/9d/BirdpersonTransparent.png/revision/latest?cb=20161223222905);
  max-height: 150px;
  max-width: 150px;
  position:absolute;
}